{{!-- Site homepage --}}

{{!-- Reference the single-post.handlebars for the full code --}}

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>