{{!-- Template for a single post --}}
{{!-- Connects to home-routes.js --}}

{{> post-info post }}

{{!-- Form to handle comments submissions and shows comments --}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">I agree!</button>
  </div>
</form>

{{!-- Reference the comments.handlebars for the full code --}}
{{> comments post.comments}}

{{/if}}

{{!-- Connects to the comment and upvote logic --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}